<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>One More</h1>
        <p class="lead">운동 하기</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/workout">시작</a>
            <a class="btn btn-lg btn-primary" href="/history">기록</a>
        </p>
        <p class="lead">운동 부위</p>
        <p>
            <a class="btn btn-lg btn-info" href="/targets/new">추가</a>
            <a class="btn btn-lg btn-info" href="/targets">목록</a>
        </p>
        <p class="lead">운동 종목</p>
        <p>
            <a class="btn btn-lg btn-success" href="/exercises/new">추가</a>
            <a class="btn btn-lg btn-success" href="/exercises">목록</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>